@model Party

<form method="post">
    <div class="container-fluid">
        <div>
            <h5>General Details</h5>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-3">
                <b>Party Name</b>
                <input type="text" asp-for="PartyName" placeholder="Enter PartyName" class="form-control" />
            </div>
            <div class="col-md-3">
                <b>Mobile Number</b>
                <input type="text" asp-for="PhoneNumber" placeholder="Enter Mobile number" class="form-control" />
            </div>
            <div class="col-md-3">
                <b>Email </b>
                <input type="text" asp-for="Email" placeholder="Enter Email" class="form-control" />
            </div>
            <div class="col-md-3">
                <b>Opening Balance</b>
                <div class="d-flex">
                    <input type="text" asp-for="OpeningBalance" placeholder="&#8377" class="form-control me-2" />
                    <select asp-for="ToPayToCollect" class="form-select">
                        <option>To Pay</option>
                        <option>To Collect</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">
                <b>GSTIN</b>
                <input type="text" asp-for="GSTINNumber" placeholder="ex: 29XXXXX9438X1XX" class="form-control" />
            </div>
            <div class="col-md-3">
                <b>Pan Number</b>
                <input type="text" asp-for="PanCardNumber" placeholder="Enter Party Pan Number" class="form-control" />
            </div>
        </div>
        <hr />

        <div class="row mt-3">
            <div class="col-md-3">
                <b>Party Type</b>
                <input list="partyOptions" id="partyType" class="form-control" asp-for="PartyType">
                <datalist id="partyOptions">
                    <option value="Customer"></option>
                    <option value="Supplier"></option>
                </datalist>
            </div>
            <div class="col-md-3">
                <b>Party Category</b>
                <input type="text" asp-for="PartyCategory" placeholder="Enter Category" class="form-control" />
            </div>
        </div>
        <hr />
        <h5>Address</h5>
        <div class="row mt-3">
            <div class="col-md-6">
                <b>Billing Address</b>
                <textarea asp-for="BillingAddress" placeholder="Enter Billing Address" class="form-control" rows="2"></textarea>
            </div>
            <div class="col-md-6">
                <b>Shipping Address</b>
                <textarea asp-for="ShippingAddress" placeholder="Enter shipping Address" class="form-control"></textarea>
            </div>
        </div>
        <hr />
        <div class="row mt-3">
            <div class="col-md-3">
                <b>Credit Period</b>
                <input type="text" asp-for="CreditPeriod" placeholder="Enter Credit Period" class="form-control" />
            </div>
            <div class="col-md-3">
                <b>Credit Limit</b>
                <input type="text" asp-for="CreditLimit" placeholder="Enter Credit Limit" class="form-control" />
            </div>
        </div>
        <br />
        <div>
            <input type="submit" value="Save" class="btn btn-secondary" />
        </div>
    </div>
</form>

<form method="post">
    <div class="input-group row">
        <h5>Create Item</h5>
        <div class="form-control">
            <label class="form-check-label col-sm-2 col-form-label" for="flexRadioDefault2">Party Name</label>
            <div class="col-sm-10">
                <input type="text" asp-for="PartyName" placeholder="Enter PartyName" class="form-control" />
            </div>
        </div>
        <div class="form-control">
            <label class="form-check-label col-sm-2 col-form-label" for="flexRadioDefault1">Mobile Number</label>
            <div class="col-sm-10">
                <input type="text" asp-for="PhoneNumber" placeholder="Enter Mobile number" class="form-control" />
            </div>
        </div>
        <div class="form-control">
            <label class="form-check-label col-sm-2 col-form-label" for="flexRadioDefault1">Email</label>
            <div class="col-sm-10">
                <input type="text" asp-for="Email" placeholder="Enter Email" class="form-control" />
            </div>
        </div>
        <div class="form-control">
            <label class="form-check-label col-sm-2 col-form-label me-2" placeholder="&#8377" for="flexRadioDefault1">Opening Balance</label>
            <div class="col-sm-10">
                <select asp-for="ToPayToCollect" class="form-select">
                    <option>To Pay</option>
                    <option>To Collect</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="categoryInput" class="col-sm-2 col-form-label">Category</label>
    </div>
    <div class="form-group row">
        <label for="exampleInputPassword1" class="col-sm-2 col-form-label">Item Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Item Name" asp-for="ItemName">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="SalesPrice">Sales Price</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" asp-for="SalesPrice" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PurchasePrice">Purchase Price</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" asp-for="PurchasePrice" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">GST Tax Rate(%)</label>
        <div class="col-sm-10">
            <select asp-for="GSTTaxRate" class="form-control">
                <option>0</option>
                <option>5</option>
                <option>12</option>
                <option>18</option>
                <option>28</option>
                <option>40</option>
            </select>
        </div>
    </div>
    <div class="input-group row">
        <label class="col-sm-2 col-form-label">Select Box</label>
        <div class="col-sm-10">
            <select name="select" class="form-control">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
            </select>
        </div>
    </div>
    <div class="input-group row">
        <label class="col-sm-2 col-form-label">Measuring Unit</label>
        <div class="col-sm-10">
            <select asp-for="MeasuringUnit" class="form-control">
                <option>Pieces(PCS)</option>
                <option>Grams(GMS)</option>
                <option>Kilograms(KGS)</option>
                <option>Millilitre(MLT)</option>
                <option>Litre(LTR)</option>
                <option>Dozen(DZN)</option>
                <option>Carton(CTN)</option>
                <option>Bottles(BTL)</option>
                <option>Box(BOX)</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="OpeningStock">Opening Stock</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" asp-for="OpeningStock" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ItemCode">Item Code</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="ItemCode" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="HSNCode">HSN Code</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" asp-for="HSNCode" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Description" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Image">Upload Image</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" asp-for="Image" />
        </div>
    </div>
    <div class="form-group row">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/doc.js"></script>