USE [master]
GO
/****** Object:  Database [Invo]    Script Date: 10/4/2024 1:40:49 AM ******/
CREATE DATABASE [Invo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Invo', FILENAME = N'C:\Users\SUPER-COMPUTERS\Invo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Invo_log', FILENAME = N'C:\Users\SUPER-COMPUTERS\Invo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Invo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Invo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[businesses]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[businesses](
	[BusinessId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessName] [nvarchar](max) NOT NULL,
	[BusinessRegistrationType] [nvarchar](max) NOT NULL,
	[BusinessType] [nvarchar](max) NOT NULL,
	[IndustryType] [nvarchar](max) NOT NULL,
	[GSTRegistered] [bit] NOT NULL,
	[ContactNumber] [bigint] NOT NULL,
 CONSTRAINT [PK_businesses] PRIMARY KEY CLUSTERED 
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventories]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventories](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemType] [bit] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ItemName] [nvarchar](max) NOT NULL,
	[SalesPrice] [decimal](18, 2) NOT NULL,
	[GSTTaxRate] [nvarchar](max) NOT NULL,
	[MeasuringUnit] [nvarchar](max) NOT NULL,
	[OpeningStock] [decimal](18, 2) NOT NULL,
	[PurchasePrice] [decimal](18, 2) NOT NULL,
	[ItemCode] [nvarchar](max) NOT NULL,
	[HSNCode] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[BusinessId] [int] NOT NULL,
 CONSTRAINT [PK_inventories] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoicedItems]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoicedItems](
	[InvoiceditemId] [int] IDENTITY(1,1) NOT NULL,
	[SalesInvoiceId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
 CONSTRAINT [PK_invoicedItems] PRIMARY KEY CLUSTERED 
(
	[InvoiceditemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parties]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parties](
	[PartyId] [int] IDENTITY(1,1) NOT NULL,
	[PartyName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [bigint] NOT NULL,
	[OpeningBalance] [decimal](18, 2) NOT NULL,
	[GSTINNumber] [nvarchar](max) NOT NULL,
	[PanCardNumber] [nvarchar](max) NOT NULL,
	[PartyType] [nvarchar](max) NOT NULL,
	[PartyCategory] [nvarchar](max) NOT NULL,
	[BillingAddress] [nvarchar](max) NOT NULL,
	[ShippingAddress] [nvarchar](max) NOT NULL,
	[CreditPeriod] [int] NOT NULL,
	[CreditLimit] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_parties] PRIMARY KEY CLUSTERED 
(
	[PartyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salesInvoices]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salesInvoices](
	[SalesInvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[PartyId] [int] NOT NULL,
	[InvoicedItemId] [int] NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[InvoiceDate] [nvarchar](max) NOT NULL,
	[DueDate] [nvarchar](max) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_salesInvoices] PRIMARY KEY CLUSTERED 
(
	[SalesInvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SI]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SI](
	[salesInvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[invoiceDate] [nvarchar](max) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[partyName] [nvarchar](max) NOT NULL,
	[shippingAddress] [nvarchar](max) NOT NULL,
	[dueDate] [nvarchar](max) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[invoicepdf] [nvarchar](max) NOT NULL,
	[paymentMode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SI] PRIMARY KEY CLUSTERED 
(
	[salesInvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SI] ADD  DEFAULT (N'') FOR [paymentMode]
GO
/****** Object:  StoredProcedure [dbo].[addsi]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addsi]
@invoiceDate varchar(50),
@InvoiceID int,
@partyName varchar(100),
@shippingAddress varchar(max),
@dueDate varchar(50),
@Amount decimal(9,2),
@Status varchar(50),
@paymentMode varchar(50),
@invoicepdf varchar(max)
as
begin
	insert into SI values(@invoiceDate,@InvoiceID,@partyName,@shippingAddress,@dueDate,@Amount,@Status,@paymentMode,@invoicepdf)
end
GO
/****** Object:  StoredProcedure [dbo].[fetchsi]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[fetchsi]
as
begin
	select si.SalesInvoiceId, si.InvoiceDate,si.invoiceid, p.PartyName,p.ShippingAddress, si.DueDate,si.Amount,i.Status from Salesinvoices si 
	inner join parties p on si.PartyId = p.PartyId
	inner join invoices i on si.invoiceid = i.InvoiceId
end
GO
/****** Object:  StoredProcedure [dbo].[getaddedsi]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getaddedsi]
as
begin 
	select * from SI
end
GO
/****** Object:  StoredProcedure [dbo].[getbusiness]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getbusiness]
as 
begin 
select * from businesses
end
GO
/****** Object:  StoredProcedure [dbo].[getcategory]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getcategory]
as 
begin 
select * from categories
end
GO
/****** Object:  StoredProcedure [dbo].[getinvoiceditems]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getinvoiceditems]
as
begin
select * from invoicedItems
end
GO
/****** Object:  StoredProcedure [dbo].[getinvoiceitems]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getinvoiceitems]
as
begin
select * from invoices
end
GO
/****** Object:  StoredProcedure [dbo].[getitems]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getitems]
as
begin
select * from inventories
end
GO
/****** Object:  StoredProcedure [dbo].[getparty]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getparty]
as
begin
select * from parties
end
GO
/****** Object:  StoredProcedure [dbo].[getsalesinvoices]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getsalesinvoices]
as
begin
select * from salesInvoices
end
GO
/****** Object:  StoredProcedure [dbo].[getsi]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getsi]
as
begin
	select si.SalesInvoiceId, si.InvoiceDate,si.invoiceid, p.PartyName,p.ShippingAddress, si.DueDate,si.Amount,i.Status from Salesinvoices si 
	inner join parties p on si.PartyId = p.PartyId
	inner join invoices i on si.invoiceid = i.InvoiceId
end
GO
/****** Object:  StoredProcedure [dbo].[GetSIById]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSIById]
    @InvoiceID INT
AS
BEGIN
    SELECT * 
    FROM SI
    WHERE InvoiceID = @InvoiceID
END
GO
/****** Object:  StoredProcedure [dbo].[InsertBusiness]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertBusiness]
    @BusinessName NVARCHAR(100),
    @BusinessRegistrationType NVARCHAR(50),
    @BusinessType NVARCHAR(50),
    @IndustryType NVARCHAR(50),
    @GSTRegistered BIT,
    @ContactNumber BIGINT
AS
BEGIN
    -- Insert data into the Business table
    INSERT INTO businesses (BusinessName, BusinessRegistrationType, BusinessType, IndustryType, GSTRegistered, ContactNumber)
    VALUES (@BusinessName, @BusinessRegistrationType, @BusinessType, @IndustryType, @GSTRegistered, @ContactNumber);

    -- Return the ID of the newly inserted row (optional)
    SELECT SCOPE_IDENTITY() AS BusinessId;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertCategory]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCategory]
    @CategoryName NVARCHAR(100)
AS
BEGIN
    -- Insert data into the Category table
    INSERT INTO Categories (CategoryName)
    VALUES (@CategoryName);

    -- Return the ID of the newly inserted row (optional)
    SELECT SCOPE_IDENTITY() AS CategoryId;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertInventory]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertInventory]
    @ItemType BIT,
    @CategoryID INT,
    @Quantity INT,
    @ItemName NVARCHAR(100),
    @SalesPrice DECIMAL(18, 2),
    @GSTTaxRate NVARCHAR(50),
    @MeasuringUnit NVARCHAR(50),
    @OpeningStock DECIMAL(18, 2),
    @PurchasePrice DECIMAL(18, 2),
    @ItemCode NVARCHAR(50),
    @HSNCode NVARCHAR(50),
    @Description NVARCHAR(255),
    @Image NVARCHAR(255),
    @BusinessId INT
AS
BEGIN
    -- Insert data into the Inventories table
    INSERT INTO Inventories 
    (
        ItemType,
        CategoryID,
        Quantity,
        ItemName,
        SalesPrice,
        GSTTaxRate,
        MeasuringUnit,
        OpeningStock,
        PurchasePrice,
        ItemCode,
        HSNCode,
        Description,
        Image,
        BusinessId
    )
    VALUES 
    (
        @ItemType,
        @CategoryID,
        @Quantity,
        @ItemName,
        @SalesPrice,
        @GSTTaxRate,
        @MeasuringUnit,
        @OpeningStock,
        @PurchasePrice,
        @ItemCode,
        @HSNCode,
        @Description,
        @Image,
        @BusinessId
    );

    -- Return the ID of the newly inserted row (optional)
    SELECT SCOPE_IDENTITY() AS ItemId;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertInvoice]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertInvoice]
    @Status NVARCHAR(50)
AS
BEGIN
    -- Insert data into the Invoices table
    INSERT INTO Invoices 
    (
        Status
    )
    VALUES 
    (
        @Status
    );

    -- Return the ID of the newly inserted row (optional)
    SELECT SCOPE_IDENTITY() AS InvoiceId;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertInvoicedItem]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertInvoicedItem]
    @SalesInvoiceId INT,
    @ItemId INT
AS
BEGIN
    -- Insert data into the InvoicedItem table
    INSERT INTO invoicedItems 
    (
        SalesInvoiceId,
        ItemId
    )
    VALUES 
    (
        @SalesInvoiceId,
        @ItemId
    );

    -- Return the ID of the newly inserted row (optional)
    SELECT SCOPE_IDENTITY() AS InvoicedItemId;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertParty]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertParty]
    @PartyName NVARCHAR(100),
    @Email NVARCHAR(100),
    @PhoneNumber BIGINT,
    @OpeningBalance DECIMAL(18, 2),
    @GSTINNumber NVARCHAR(50),
    @PanCardNumber NVARCHAR(50),
    @PartyType NVARCHAR(50),
    @PartyCategory NVARCHAR(50),
    @BillingAddress NVARCHAR(255),
    @ShippingAddress NVARCHAR(255),
    @CreditPeriod INT,
    @CreditLimit DECIMAL(18, 2)
AS
BEGIN
    -- Insert data into the Parties table
    INSERT INTO Parties 
    (
        PartyName, 
        Email, 
        PhoneNumber, 
        OpeningBalance, 
        GSTINNumber, 
        PanCardNumber, 
        PartyType, 
        PartyCategory, 
        BillingAddress, 
        ShippingAddress, 
        CreditPeriod, 
        CreditLimit
    )
    VALUES 
    (
        @PartyName, 
        @Email, 
        @PhoneNumber, 
        @OpeningBalance, 
        @GSTINNumber, 
        @PanCardNumber, 
        @PartyType, 
        @PartyCategory, 
        @BillingAddress, 
        @ShippingAddress, 
        @CreditPeriod, 
        @CreditLimit
    );

    -- Return the ID of the newly inserted row (optional)
    SELECT SCOPE_IDENTITY() AS PartyId;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertSalesInvoice]    Script Date: 10/4/2024 1:40:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertSalesInvoice]
    @PartyId INT,
    @InvoicedItemId INT,
    @InvoiceId INT,
    @InvoiceDate NVARCHAR(50),
    @DueDate NVARCHAR(50),
    @Amount DECIMAL(18, 2),
    @Quantity INT
AS
BEGIN
    -- Insert data into the SalesInvoice table
    INSERT INTO salesInvoices 
    (
        PartyId,
        InvoicedItemId,
        InvoiceId,
        InvoiceDate,
        DueDate,
        Amount,
        Quantity
    )
    VALUES 
    (
        @PartyId,
        @InvoicedItemId,
        @InvoiceId,
        @InvoiceDate,
        @DueDate,
        @Amount,
        @Quantity
    );

    -- Return the ID of the newly inserted row (optional)
    SELECT SCOPE_IDENTITY() AS SalesInvoiceId;
END;
GO
USE [master]
GO
