
@*    @model List<Party>
 *@ 
<div>
    <select id="partyCategory">
        <option value="">Show All Parties</option>
    </select>

@*     <select id="invoiceDate">
        <option value="">Select Invoice Date</option>
    </select>
 *@</div>

@* <a href="javascript:void(0);" onclick="downloadPDF()" class="btn btn-primary">Download PDF</a>
 *@@* <a href="javascript:void(0);" onclick="window.print();" class="btn btn-secondary">Print</a>
<a href="javascript:void(0);" onclick="window.print();" class="btn btn-primary">Download</a>
 *@
@* <a href="javascript:void(0);" onclick="shareOnWhatsApp()" class="btn btn-success">Share on WhatsApp</a>
 *@
<table class="table">
    <thead>
        <tr>
            <th scope="col">Party Name</th>
            <th scope="col">Party Category</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Closing Balance</th>
        </tr>
    </thead>
    <tbody id="salesTableBody">
@*          @foreach (var party in Model)
         {
              <tr>
                 <td>@party.PartyName</td>
                 <td>@party.PartyCategory</td>
                 <td>@party.PhoneNumber</td>
                 <td>@party.OpeningBalance</td>
             </tr>
         }
        *@
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/ajax/javascript1.js"></script>
