
<div class="input-group row">
    <select id="partyCategory">
        <option value="">Show All Parties</option>
    </select>
</div>
<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Party Name</th>
                    <th scope="col">Party Category</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Closing Balance</th>
                </tr>
            </thead>
            <tbody id="salesTableBody">
            </tbody>
        </table>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/ajax/javascript1.js"></script>
