@model Inventory

<form method="post" enctype="multipart/form-data" id="inventoryForm">
    <div class="form-group">
        <label>Item Type</label>
        <div class="input-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" asp-for="ItemType" value="Product" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Product
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault" asp-for="ItemType" value="Service" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Service
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="categoryInput">Category</label>
        <div class="input-group">
            <input type="text" class="form-control" id="categoryInput" asp-for="Category.CategoryName" placeholder="Enter category">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="categoryDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" id="categoryDropdown"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Item Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Item Name" asp-for="ItemName">
    </div>
    <div class="form-group">
        <label asp-for="SalesPrice">Sales Price</label>
        <input type="number" class="form-control" asp-for="SalesPrice" />
    </div>
    <div class="form-group">
        <label asp-for="PurchasePrice">Purchase Price</label>
        <input type="number" class="form-control" asp-for="PurchasePrice" />
    </div>
    <div class="input-group">
        <label>GST Tax Rate(%)</label>
        <select asp-for="GSTTaxRate" class="form-control">
            <option>None</option>
            <option>Exempted</option>
            <option>GST 0%</option>
            <option>GST 5%</option>
            <option>GST 12%</option>
            <option>GST 18%</option>
            <option>GST 28%</option>
            <option>GST 40%</option>
        </select>
    </div>
    <div class="input-group">
        <label>Measuring Unit</label>
        <select asp-for="MeasuringUnit" class="form-control">
            <option>Pieces(PCS)</option>
            <option>Grams(GMS)</option>
            <option>Kilograms(KGS)</option>
            <option>Millilitre(MLT)</option>
            <option>Litre(LTR)</option>
            <option>Dozen(DZN)</option>
            <option>Carton(CTN)</option>
            <option>Bottles(BTL)</option>
            <option>Box(BOX)</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="OpeningStock">Opening Stock</label>
        <input type="number" class="form-control" asp-for="OpeningStock" />
    </div>
    <div class="form-group">
        <label asp-for="ItemCode">Item Code</label>
        <input type="text" class="form-control" asp-for="ItemCode" />
    </div>
    <div class="form-group">
        <label asp-for="HSNCode">HSN Code</label>
        <input type="number" class="form-control" asp-for="HSNCode" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input type="text" class="form-control" asp-for="Description" />
    </div>
    @* <div class="form-group">
        <label asp-for="Image">Upload Image</label>
        <input type="file" class="form-control" asp-for="Image" />
    </div> *@
    @* <button type="submit" class="btn btn-primary">Save</button> *@
    <input type="submit" value="Save" class="btn btn-primary" />
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/doc.js"></script>